mixin card_blog(post)
  .card.card-blog(data-post= post.id)
    .card-thumb
      img.card-img(src=path+'/images/javascript.jpg' alt= post.title)
    .card-body
      h5.card-title
        a.card-link(href=path+'/post/'+post.slug)= post.title
      p.card-text.dots= post.shotDes
    if (post.author && post.author.id && post.author.name)
      .card-footer
        p.text-right
          a.link(href=path+'/author/'+post.author.id) @#{post.author.name}
          | &nbsp;
          | -
          | &nbsp;
          span.card-created-at= post.createdAt

mixin post_empty(text = 'Hiện tại chưa có post nào')
  .post-empty 
    p!= text