header.header-container
  .header-main
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        .clearfix.me-4
          a.navbar-brand(href=path+'/admin')
            span [Nodejs - Blog] Admin page
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .clearfix
          .row.justify-content-end.align-items-center
            .col-auto
              a.link.text-white(href=path+'/')
                i.fas.fa-home
                | &nbsp;
                | Trang chủ
            .col-auto
              | |
            .col-auto
              .dropdown.text-white
                a#userDropdown.nav-link.text-white.dropdown-toggle.px-0(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                  span.d-inline-block.lh-1
                    if (data && data.user)
                      | Hi, #{data.user.name}
                      br
                      small #{data.user.userRole ? 'Administrator' : 'Người dùng'}
                    else
                      | Hi, Admin
                ul.dropdown-menu(aria-labelledby='userDropdown')
                  li
                    a.dropdown-item(href=path+'/admin/post/add') 
                      i.fas.fa-plus
                      | &nbsp;
                      | Thêm post mới
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href=path+'/user/logout')
                      i.fas.fa-sign-out-alt
                      | &nbsp;
                      | Log out
      