header.header-container
  .header-main
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container
        .clearfix.me-4
          a.navbar-brand(href=path+'/admin')
            span [Nodejs - Blog] Admin page
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .clearfix.d-flex.justify-content-end
          .dropdown.text-white
            a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              if (data && data.user)
                | Hi, #{data.user.name}
              else
                | Hi, Admin
            ul.dropdown-menu(aria-labelledby='userDropdown')
              li
                a.dropdown-item(href=path+'/')
                  i.fas.fa-tachometer-alt
                  | &nbsp;
                  | View Page
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href=path+'/admin/post/add') 
                  i.fas.fa-plus
                  | &nbsp;
                  | Thêm post mới
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href=path+'/user/logout')
                  i.fas.fa-sign-out-alt
                  | &nbsp;
                  | Log out
  