extends _layouts/default

block vars
  -title        = data.post.title + ' | Nodejs - Blog'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .post-detail
        if (data && data.post)
          - var post = data.post
          .post-header
            h2.post-heading= post.title
            p.post-meta
              if (data && data.author)
                a(href=path+'/user/'+data.author.id)= data.author.name
              | &nbsp;
              | đăng ngày
              | &nbsp;
              span= post.createdAt
            if (post.tag.length && post.tag != '')
              p.post-tags
                span.pe-2 tags:
                each tag in post.tag
                  a.pe-2(href=path+'/tag/?tag='+tag)!= '#'+tag
          
          .row
            .col-12.col-md-9
              if (post.thumbnail)
                .post-thumbnail.text-center.mb-4
                  img.img-thumbnail(src=path+'/images/posts/'+post.thumbnail alt=post.title)
              .post-content!= post.content
            .col-12.col-md-3
              .post-sidebar
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere temporibus quod beatae consequuntur illo repudiandae?
          .post-footer
        else
          .text-center
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam unde eos! Recusandae sint provident placeat laborum magni quis soluta expedita. Praesentium soluta minus voluptatum hic sit! Eos, natus quas.
      
