extends ../../_layouts/dashboard

block vars
  -title        = 'Admin page | Add post'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '../..'
  if (data && data.edit)
    -path = '../../..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary 
          if (data && data.edit)
            | Chỉnh sửa bài viết
          else
            | Thêm Post mới
      .section-content
        .messages
        //- enctype="multipart/form-data"
        form.form#frmPost(method= data.method action= data.action enctype= data.enctype )
          - var post = data.post
          .row
            .col.col-md-9
              if (data && data.edit)
                input.form-control(type='hidden' name="id" id="id" value= post.id)
              .mb-4
                label.form-label Tiêu đề
                input.form-control(type='text' placeholder='Nhập tiêu đề ...' name="title" id="title" value= post.title)
              .mb-4
                label.form-label Content
                textarea.form-control.editor(cols='8' rows="8" placeholder='Nhập nội dung ...' name="content" id="editor")= post.content
              .mb-4
                label.form-label Mô tả ngắn
                textarea.form-control(cols='3' max='20' placeholder='Nhập mô tả ngắn ...' name="shotDes" id="shotDes")= post.shotDes
              hr
              #accordionMeta.accordion
                .accordion-item
                  h2#headingOne.accordion-header
                    button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                      | Meta
                  #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionMeta')
                    .accordion-body
                      .mb-4
                        label.form-label Mete Title
                        input.form-control(type='text' placeholder='Nhập Mete Title ...' name="metaTitle" id="metaTitle" value= post.metaTitle)
                      .mb-4
                        label.form-label Mete Description
                        input.form-control(type='text' placeholder='Nhập Mete Description ...' name="metaDes" id="metaDes" value= post.metaDes)
            .col.col-md-3
              //- Publish --------
              .widget-wrapper
                p.widget-heading Publish
                .widget-content
                  .mb-2
                    .form-check
                      if (!post.isPublish)
                        input.form-check-input(type='checkbox' id="isPublish" name="isPublish" value= post.isPublish checked='checked')
                      else
                        input.form-check-input(type='checkbox' id="isPublish" name="isPublish" value= post.isPublish)
                      label.form-check-label(for="isPublish") Publish
                  if (post && post.author)
                    .mb-2.d-flex.justify-content-between
                      p.mb-0 Người đăng:
                      p.mb-0
                        a(href=path+'/admin/user/info/'+post.author.id)= post.author.name
                  if (post && post.createdAt)
                    .mb-2.d-flex.justify-content-between
                      p.mb-0 Ngày tạo:
                      p.mb-0
                        small.text-nowrap= post.createdAt
                  if (post && post.pubishedAt)
                    .mb-2.d-flex.justify-content-between
                      p.mb-0 Ngày đăng:
                      p.mb-0
                        small.text-nowrap= post.pubishedAt
                  if (post && post.updatedAt)
                    .mb-2.d-flex.justify-content-between
                      p.mb-0 Ngày sửa:
                      p.mb-0
                        small.text-nowrap= post.updatedAt
                .widget-footer
                  if (data && !data.edit)
                    .text-end
                      button.btn.btn-success(type="submit") Thêm mới
                  else
                    if (!post.isActive)
                      .row.justify-content-between.align-items-center
                        .col.col-auto
                          p.text-danger(type="button" class="js-post-delete") Xóa
                        .col.col-auto
                          button.btn.btn-warning(type="button" class="js-post-edit" ) Chỉnh sửa
                    else 
                      p.text-end
                        a.btn.btn-warning(type="button" class="js-post-untrash") Phục hồi
              //- Category --------
              .widget-wrapper
                p.widget-heading Thể loại
                .widget-content
                  select.form-select(name="category" id="category")
                    option() -- Chọn thể loại
                    if (data.category)
                      each item in data.category
                        if item.id == post.category
                          option(value=item.id selected)= item.name
                        else
                          option(value=item.id)= item.name
              //- Thumbnail --------
              .widget-wrapper
                p.widget-heading Thumbnail
                .widget-content
                  input.form-control(type='file' name="thumbnail" id="thumbnail")
              //- Tags --------
              .widget-wrapper
                p.widget-heading Tags
                .widget-content
                  input.form-control(type='text' placeholder='Tags ...' name="tag" id="tag" value= post.tag)
             
          hr
          .row
            .col-auto
              if (data && !data.edit)
                button.btn.btn-success(type="submit") Thêm mới
              else
                if (!post.isActive)
                  .row.justify-content-between.align-items-center
                    .col.col-auto
                      button.btn.btn-warning(type="button" class="js-post-edit" ) Chỉnh sửa
                    .col.col-auto
                      p.text-danger(type="button" class="js-post-delete") Xóa
                    
                else 
                  p.text-start
                    a.btn.btn-warning(type="button" class="js-post-untrash") Phục hồi

block scripts
  script(src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js")
  script.
    let editor
    ClassicEditor
      .create( document.querySelector( '#editor' ) )
      .then( newEditor => {
        editor = newEditor;
      })
      .catch(error => console.error(error));

  
      
