extends ../../_layouts/dashboard

block vars
  -title        = 'Admin page | trash'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '../..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary Bản nháp (Post)
      .section-content
        
        .mb-3
          .row
            .col
              .input-group(style="width: 250px")
                select.form-select
                  option(selected='') -- Action --
                  option(value='1') Xóa
                  option(value='2') Publish
                button.btn.btn-outline-primary Áp dụng
            .col-auto
              form.input-group(style="width: 300px")
                input(type="text" class="form-control" name="title" placeholder="Search post ..." value=data.search)
                button.btn.btn-outline-secondary(type="submit")
                  i.fas.fa-search
        .mb-3
          .table-responsive
            table.table
              thead
                tr.text-uppercase
                  th(scope="col" width="40")
                    .form-check
                      input.form-check-input(type='checkbox' id="check_all")
                  th.text-center(scope="col" width="50") #
                  th(scope="col") Tiêu đề
                  th(scope="col") Thể loại
                  th(scope="col") Người đăng
                  th(scope="col")
              tbody
                if (data.trash.length === 0)
                  tr
                    td.border-0(colspan="6")
                      .post-empty(role="alert")
                        p.text-center.heading-3 
                          | Ops!!! Không có post nào để hiển thị.
                          | &nbsp;
                          a(href="#") Thêm post mới
                else
                  each draft in data.trash
                    tr
                      td
                        .form-check
                          input.form-check-input(type='checkbox' id="post"+draft.id)
                      td.text-center= draft.id
                      td
                        a.link(href=path+'/admin/post/edit/'+draft.id)= draft.title
                      td.text-uppercase= draft.category.name
                      td
                        a.link(href=path+'/admin/user/info/'+draft.author.id)= draft.author.name
                      td
                        .d-flex.justify-content-end.align-items-center
                          .px-2
                            a.text-warning(href=path+'/admin/post/edit/'+draft.id) 
                              i.far.fa-edit
                          .px-2
                            a.text-danger(href="#" class="js-post-delete-by-id" data-id=draft.id data-title=draft.title)
                              i.fas.fa-trash-alt

