extends ../../_layouts/dashboard

block vars
  -title        = 'Admin page | Add post'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '../..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary Danh sách bài viết
      .section-content
        .mb-4 
          .row.align-items-center
            .col-auto
              a.btn.btn-success(href=path+"/admin/post/add")
                i.fas.fa-plus
                | &nbsp;
                | Thêm post mới
            .col-auto |
            .col-auto
              .row.align-items-center
                .col-auto
                  span Tổng: <strong>#{data.postsAll}</strong> bài
                .col-auto.px-0 - 
                .col-auto
                  span Active: <strong>#{data.postsActive}</strong> bài
                .col-auto.px-0 - 
                .col-auto
                  span Drafts: <strong>#{data.draft}</strong> bài
                .col-auto.px-0 - 
                .col-auto
                  a.text-warning(href=path+"/admin/post/trash")
                    i.far.fa-trash-alt
                    | &nbsp;
                    span#count_trash.px-1= data.trash
                    | Trash
        .mb-3
          .row
            .col
              .input-group(style="width: 250px")
                select.form-select
                  option(selected='') -- Action --
                  option(value='1') Xóa
                  option(value='2') Publish
                button.btn.btn-outline-primary Áp dụng
            .col-auto
              form.input-group(style="width: 300px")
                input(type="text" class="form-control" name="title" placeholder="Search post ...")
                button.btn.btn-outline-secondary(type="submit")
                  i.fas.fa-search
              
        if !data.posts
          .alert.alert-warning(role="alert")
            p.text-center.heading-3 
              | Ops!!! Không có post nào để hiển thị.
              | &nbsp;
              a(href="#") Thêm post mới
        else
          .table-responsive
            table.table.align-middle
              thead
                tr.text-uppercase
                  th(scope="col" width="40")
                    .form-check
                      input.form-check-input(type='checkbox' id="check_all")
                  th.text-center(scope="col" width="50") #
                  th(scope="col") Tiêu đề
                  th(scope="col") Người đăng
                  th(scope="col") Thể loại
                  //- th.text-center(scope="col") Trạng thái
                  th.text-end(scope="col") Ngày đăng
                  th(scope="col" width="110")
              tbody
                each post in data.posts
                  tr
                    td
                      .form-check
                        input.form-check-input(type='checkbox' id="post"+post.id)
                    td.text-center= post.id
                    td
                      a.link(href=path+'/admin/post/edit/'+post.id)= post.title
                      if (post.isPublish.active)
                        | &nbsp;
                        small - last modified
                    td
                      a.link(href=path+'/admin/user/info/'+post.author.id)= post.author.name
                    td
                      small.text-uppercase= post.category.name
                    td.text-end
                      small.d-inline-block
                        span= post.createdAt
                        br
                        span(class=post.isPublish.active ? 'text-warning' : 'text-success')= post.isPublish.status
                    td
                      .d-flex.justify-content-end.align-items-center
                        .px-2
                          a.text-warning(href=path+'/admin/post/edit/'+post.id) 
                            i.far.fa-edit
                        .px-2
                          a.text-danger(href="#" class="js-post-delete-by-id" data-id=post.id data-title=post.title)
                            i.fas.fa-trash-alt
